#set($classPackage=$basePackage+".web")
package $classPackage;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

@Controller
@RequestMapping("")
public class IndexController {
	@RequestMapping("/index.htm")
	public String index() {
		return "index";
	}

	@RequestMapping("/index.htm")
	public String intro() {
		return "intro";
	}
}
