<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
#set($classMapper=$basePackage+".mapping."+$Entity+"Mapper")
#set($classModel=$basePackage+".model."+$Entity)
<mapper
	namespace="$classMapper">
	
	<resultMap id="$entityMap" type="$classModel">
		<id property="$idProperty" column="$idColumn" />
#foreach($col in $columns)
		<result property="$col.property" column="$col.column" />
#end
	</resultMap>
	
	<select id="get$Entity" resultMap="$entityMap" parameterType="long">
		select * from $tableName where $idColumn=#{id}
	</select>
	
	<select id="list$Entity" resultMap="$entityMap">
		select * from $tableName
	</select>
	
	<insert id="insert$Entity" useGeneratedKeys="true" keyColumn="$idColumn" keyProperty="$idProperty">
		insert into $tableName (#foreach($col in $columns)$col.column#if($foreach.hasNext), #end#end) values
		(#foreach($col in $columns)#set($property="#{"+$entityObject+"."+$col.property+"}")$property#if($foreach.hasNext), #end#end)
	</insert>
	
#set($propertyId="#{"+$entityObject+"."+$idProperty+"}")
	<update id="update$Entity">
		update $tableName set 
#foreach($col in $columns)
#set($property="#{"+$entityObject+"."+$col.property+"}")
			$col.column = $property#if($foreach.hasNext), #end

#end
		where $idColumn=#{$idProperty}
	</update>
</mapper>

____ java

	public Connection get$Entity(Long id);
	
	public List<$Entity> list$Entity();

	public void insert$Entity(@Param("$entityObject") $Entity $entityObject);

	public void update$Entity(@Param("$entityObject") $Entity $entityObject);
	
	